<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="form">
        <input type="text" id="oldpassword" placeholder="old password">
        <input type="text" id="newpassword" placeholder="new password">
        <input type="text" id="confirmpassword" placeholder="confirm password">
        <input type="submit">
    </form>
</body>
<script>
     document.getElementById("form").addEventListener("submit", (e) => {
      e.preventDefault();
      let product = {
        oldpassword : document.getElementById("oldpassword").value,
        newpassword: document.getElementById("newpassword").value,
        confirmpassword: document.getElementById("confirmpassword").value
      }
      return updatepassword(product)
    });

      const updatepassword = (data) => {
      fetch(`/patchpassword`, {
        method: "PATCH",
        headers: {
            "Content-type": "application/json; charset=utf-8",
        },
        body: JSON.stringify(data)
      })
        .then((response) => response.json())
        .then((res) => console.log(res));
    };
</script>
</html>